body {
	background-color:  #f3f3f3;
    font-family: 'Open Sans', sans-serif;

    position: relative;
     /*-- background-image: radial-gradient(closest-side ellipse at center, white, #cacfd2  ); --*/
}


h1 {
    font-family: 'Unica One' ;
    font-size: 31px ;
    margin-right: 70px;
    padding: 0px;
}

h2 {

   font-family: 'Open Sans', sans-serif;
   font-size: 15px ;
}


.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

}

.perso {
    position: relative;
    text-align: center;
    width: 100%;
    
}
.perso img {
    transform: translateX(-13em);
}
.perso1 {
    position: absolute;
}

.perso2 {
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.imageShow {
    opacity: 1 !important;
}

.home  img {
    width: 30px;
    height: 30px;
    margin-top: 22px;
    

}


#conteneurretour {
    display: flex;
    justify-content: flex-start;
}

/*/////////////////////////////////////////////////////////////////////*/

.rond1:hover, .rond2:hover, .rond3:hover, .rond4:hover, .rond5:hover, .rond6:hover {background-color: #D8D8D8}

.rond1:active, .rond2:active, .rond3:active, .rond4:active, .rond5:hover, .rond6:hover {
 
    transform: translateY(4px);
    background-color: #D8D8D8;
    transition: background-color .4s ease;
}


/*/////////////////////////////////////////////////////////////////////*/
.bleu h3 {

margin: 100px;
color: white;
text-decoration: none;
font-size: 20px;
font-family: 'Unica One', cursive;
position: relative;
top: -35px;
left: -80PX;
}


.jaune  h3{
margin: 100px;
color: white ;
text-decoration: none;
font-size: 20px;
font-family: 'Unica One';
position: relative;
top: -35px;
left: -60PX;
}


.vert h3 {
margin: 100px;
color: white;
text-decoration: none;
font-size: 20px;
font-family: 'Unica One';
position: relative;
top: -35px;
left: -78PX;

}


.rouge h3 {

color: white;
text-decoration: none;
font-size: 20px;
font-family: 'Unica One';
position: relative;
top: 45px;
left: 35PX;
}

.violet h3 {

color: white;
text-decoration: none;
font-size: 20px;
font-family: 'Unica One';
position: relative;
top: 45px;
left: 38PX;
}

.gris h3 {

color: white;
text-decoration: none;
font-size: 20px;
font-family: 'Unica One';
position: relative;
top: 45px;
left: 35PX;
}
/*/////////////////////////////////////////////////////////////////////*/



iframe {
    width: 640px;
    height: 450px;
    text-align: center;
    margin-left: 75px;
    margin-top: 20px;

}

iframe {
    border : 1px solid #707b7c ;
    box-shadow:  2px 2px 2px #bfc9ca;
   
}

.desc1{
margin-left: 75px;
margin-right: 75px;
text-align: center;
margin-top: 20px;
}


/*/////////////////////////////////////////////////////////////////////*/


/*SKETCHNOTE*/
.rond1{

    position: fixed;
    top: 460px;
    left: 300px;
    background-color: #4DB6AC;
    width:150px;
    height :150px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: inline-block;
  
    transition: background-color .3s ease;
}

/*PROJETS*/
    
.rond2{
    position: fixed;
    top: 100px;
    left: 420px;
    background-color: #FFD54F ;
    width:150px;
    height:150px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: inline-block;
   
    transition: background-color .3s ease;
}
    
/*AUDIOVISUEL*/
.rond3{
     position: fixed;
    top: 100px;
    right: 420px;
    background-color:  #D4E157;
    width:150px;
    height:150px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: inline-block; 
    transition: background-color .3s ease;
}


/*A PROPOS*/
    
.rond4{
    position: fixed;
    top: 460px;
    right: 300px;
    background-color:  #FF8A65;
    width:150px;
    height:150px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: inline-block;
    transition: background-color .3s ease;
}
   
/*DESSIN PERSO*/
   .rond5{

    position: fixed;
    top: 250px;
    left: 250px;
    background-color:#D1C4E9;
    width:150px;
    height :150px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: inline-block;
  
    transition: background-color .3s ease;
}

/*JEUX VIDEO*/
.rond6{

    position: fixed;
    top: 250px;
    right: 250px;
    background-color: #CACFD3;
    width:150px;
    height :150px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: inline-block;
  
    transition: background-color .3s ease;
}


/*/////////////////////////////////////////////////////////////////////*/

#conteneur {
    display: flex;
    justify-content: space-around;
}


.conteneurvideo1 {
   
   margin-left: auto;
    margin-right: auto;
     width: 800px;
    height: 550px;
    background: #D4E157;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}

.conteneurvideo2 {
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 550px;
    background: #D4E157;
    margin-bottom: 50px;

}

.conteneurvideo3 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 550px;
    background: #D4E157;
    

}

.conteneurvideo4 {
   
   margin-left: auto;
    margin-right: auto;
     width: 800px;
    height: 800px;
    background: #CACFD3;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}

.conteneurvideo5 {
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    background:#CACFD3;
    margin-bottom: 50px;

}

.conteneurvideo6 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    background: #CACFD3;
    

}

.conteneurimagesjeux {
    display: flex; 
    justify-content: space-around;
    margin-top : 10px;
}




.conteneur3 
{
    display: flex;
    justify-content: space-around;
   
}




#conteneur5{

    display: flex;
    justify-content: space-around;
   
}


#conteneur6{

    display: flex;
    justify-content: space-around;
   
}

/*/////////////////////////////////////////////////////////////////////*/

.carré1 {
width: 350px;
height: 550px;
background: #4DB6AC;

}
.carré2 {
width: 350px;
height: 550px;
background: #D4E157; 

}

.carré3 {
width: 350px;
height: 550px;
background: #FFD54F;

}

.carré4 {
width: 350px;
height: 550px;
background: #FF8A65;
}


.carré1 h2{

margin-left: 8%;
font-size: 18px;

}
.carré2  h2 {
margin-left: 8%;
font-size: 18px;

}

.carré3  h2 {
margin-left: 8%;
font-size: 18px;

}

.carré4 h2 {
margin-left: 8%;
font-size: 18px;
}


.text {
    
    margin-left:8%;
    margin-right:8%;
    text-align: justify;
    font-size: 14px;
    margin-top: 8%;


}





.bloc1 img {
width: 350px!important;
height: 500px!important;
background: #4DB6AC;
margin-bottom: 50px;


}
.bloc2 img {
width: 350px!important;
height: 500px!important;
background: #4DB6AC;
margin-bottom: 50px;
}

.bloc3 img {
width: 350px!important;
height: 500px!important;
background: #4DB6AC;
margin-bottom: 50px;
}







/*HOVER SUR LES IMAGES */


.bloc1 {
width: 350px;
height: 500px;
position: relative;
margin-bottom: 50px;
}

.bloc2 {
width: 350px;
height: 500px;
position: relative;
margin-bottom: 50px;
}

.bloc3 {
width: 350px;
height: 500px;
position: relative;
margin-bottom: 50px;
}

.blocimage {
  opacity: 1;
  backface-visibility: hidden;
 transition: .5s ease;
}

.actio {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}





.bloc1:hover .blocimage {
  opacity: 0.1;
}

.bloc2:hover .blocimage {
  opacity: 0.1;
}

.bloc3:hover .blocimage {
  opacity: 0.1;
}

.bloc1:hover .actio {
  opacity: 1;

}

.bloc2:hover .actio {
  opacity: 1;

}

.bloc3:hover .actio {
  opacity: 1;

}


.texte a  {
  color: black;
  text-decoration: none;
}



.textimage p {
    
    max-width: 800px;
padding-bottom: 8%;
    text-align: justify;
      margin-left: auto;
    margin-right: auto;
  
}

.imagepageprofonde img {
    width: 800px;
    
    margin-left: auto;
    margin-right: auto;
    display: block;


}

footer p {
    color: grey;  
    bottom: 0px;
    position: absolute;
    font-size: 13px;
    margin-left: 41%!important;

}


@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}


/* fin média */

@media only screen and (max-device-width:490px) {
 
body {
    position: relative;
}


#conteneur6 {
      display: flex;
    flex-direction: column;

}

.bloc1, .bloc2, .bloc3{
    margin-bottom: 60px;
}

.perso img {
   visibility: hidden;
}




#conteneur8 {
    display: flex;
    flex-direction: column;
    align-content: right;
 
}

.rond1  {


    top:  10%;
    left: 30%;
    width:100px;
    height :100px;
    position: fixed;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: block;
   
    transition: background-color .3s ease;

    margin-bottom: 10px;
}

.rond2  {
  
  top:  25%;
    left: 30%;
    width:100px;
    height :100px;
    position: fixed;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: block;
   
    transition: background-color .3s ease;
    margin-bottom: 10px;
}

.rond3  {
    
  top:  40%;
    left: 30%;
    width:100px;
    height :100px;
    position: fixed;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: block;
   
    transition: background-color .3s ease;
     margin-bottom: 10px;
}

.rond4  {
  
    top:  55%;
    left: 30%;
    width:100px;
    height :100px;
    position: fixed;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: block;
   
    transition: background-color .3s ease;
    margin-bottom: 10px;
}

.rond5  {
  
    top:  70%;
    left: 30%;
    width:100px;
    height :100px;
    position: fixed;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: block;
   margin-bottom: 10px;
    transition: background-color .3s ease;
}

.rond6  {
  
    top:  85%;
    left: 30%;
    width:100px;
    height :100px;
    position: fixed;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    display: block;
   margin-bottom: 10px;
    transition: background-color .3s ease;
}

h1 {
 
    font-size: 15px ;
   
}

.description{


   font-size: 9px ;
}

.imagepageprofonde img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.textimage {
    width: 100%;
}

footer p {
    display: none;
}

footer {

    display: none;
}

.DEUX footer {

   display: none;
}

.TROIS footer {

    display: none;
}




.bleu h3 {

margin: 100px;
color: white;
text-decoration: none;
font-size: 15px;
font-family: 'Unica One', cursive;
position: relative;
top: -55px;
left: -90PX;
}


.jaune  h3{
margin: 100px;
color: white ;
text-decoration: none;
font-size: 15px;
font-family: 'Unica One';
position: relative;
top: -55px;
left: -75PX;
}


.vert h3 {
margin: 100px;
color: white;
text-decoration: none;
font-size: 15px;
font-family: 'Unica One';
position: relative;
top: -55px;
left: -86PX;

}


.rouge h3 {

color: white;
text-decoration: none;
font-size: 15px;
font-family: 'Unica One';
position: relative;
top: 27px;
left: 25PX;
}

.violet h3 {

color: white;
text-decoration: none;
font-size: 15px;
font-family: 'Unica One';
position: relative;
top: 27px;
left: 27PX;
}

.gris h3 {

color: white;
text-decoration: none;
font-size: 15px;
font-family: 'Unica One';
position: relative;
top: 30px;
left: 20PX;
}

}

/* fin média */

.retour {
  
    
    text-align: center;
    margin-top: 0px!important;
    margin-bottom: 20px!important;
}

.retour a {
  text-decoration: none;
 
}